@import './vars';
@import '~bootstrap/scss/bootstrap';
@import './cols';

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  margin-bottom: 1.5em;
}

.programma-poster {
  padding: 0 5em;

  img {
    width: 100%;
  }
}

.site-header {
  position: fixed;
  width: 100%;
  margin: 80px 0 10px 0;
  border-top: 2px solid $kleur-bruin;
  border-bottom: 2px solid $kleur-bruin;
  padding: .2rem 0;
  z-index: 1000;
  background: $achtergrond;
  top: 0;

  // Dubbele border van breedte 'padding'
  &::before, &::after {
    content: '';
    border-top: 2px solid $kleur-bruin;
    display: block;
  }
}

a.anchor {
  position: absolute;
  top: 0;
}

a.filmpje-anchor {
  position: absolute;
  top: calc(500px - 50vh);
}

p.heavy {
  font-weight: 700;
}

section {
  padding: 5em 0;
  padding-top: 180px;
  position: relative;
}

.button-wrapper {
  padding-right: 2em;
  padding-top: 3em;

  &:hover {
    text-decoration: none;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $kleur-groen;
  width: 150px;
  height: 150px;
  padding: 1em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
  text-transform: uppercase;
  text-align: center;
  color: $kleur-bruin;
}

/* nav */
nav {
  font-weight: 100;

  .bottom-border {
    width: 100%;
    position: absolute;
    bottom: -5px;
    height: 5px;
    opacity: 0.3;
    background-color: inherit;
  }

  a {
    font-family: $font-header;
    text-transform: uppercase;
    color: $kleur-bruin;
    transition: ease-in-out color .15s;

    &:hover {
      color: $kleur-oranje;
      text-decoration: none;
    }
  }

  .logo-titel {
    height: 40px;
    z-index: $z-index-top;

    img {
      clip-path: circle(50%);
      margin-top: -75px;
      width: 200px;
    }
  }
}

/* header */
.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .logo-groot {
    margin-bottom: -2px;
    max-width: 500px;
    width: 500px;
    height: 500px;
  }
}

/* sections */

.head {
  padding: 180px 0 0 0;
  min-height: 100vh;

  position: static;
}

.etiquette::after {
  content: '';
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.1;

  background-image: url(images/bg1.jpg), url(images/bg2.jpg), url(images/bg3.jpg);
  background-size: 50%, contain, contain;
  background-position: top left, top right, bottom center;
  background-repeat: no-repeat, no-repeat, repeat-y;
}

/* video */
.video .video-container {
  background-image: url(images/kader.png);
  display: flex;
  align-items: center;
  position: relative;
  padding: 10% 7%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  .youtube-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    z-index: $z-index-top;
  }
}

/* programma */
.datum {
  font-size: 1rem;
}

/* buttons */
.btn-primary {
  color: $kleur-bruin;
  padding: 1em 2em;
  float: right;
}

.diescie-foto-container {
  display: grid;
  grid-template-columns: auto 1fr auto;

  .diescie-kader {
    flex-grow: 1;
  }

  img {
    object-fit: contain;
  }
}

.diescie-foto {
  padding: 0 10%;
  width: 100%;
  background-image: url(images/kader-commissie.png), url(images/kader-commissie.png);
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  background-size: contain;
}

.foto {
  position: relative;
}

.commissie {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 calc(10% - 10px);
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

  .functie {
    text-transform: uppercase;
  }

  & > div {
    opacity: 0;
    transition: opacity ease-in-out 0.6s, transform ease-in-out 0.6s;
    height: 100%;
    padding-top: 50%;

    transform: translateY(20px);

    & > div {
      bottom: 0;
      line-height: 1;
      text-align: center;

      padding: 0.2em;
      border: 1px solid $kleur-bruin;
      background: $achtergrond;
      height: auto;

    }
    .michelle { transform: translateY(0); }
    .dennis, .marin, .rebecca { transform: translateY(40px); }
    .bram { transform: translateY(20px); }
    .wesley { transform: translateY(10px); }

    &:hover {
      transform: translateY(0);
      opacity: 1;
      transition: opacity ease-in-out 0.6s, transform ease-in-out 0.2s;
    }
  }
}

.programma img {
  width: 100%;
}
