/* variables */
$kleur-bruin: #8C7456;

$achtergrond: #33332D;

/* bootstrap override */
$font-color: $kleur-bruin;
$font-header: Calibri, sans-serif;
$font-text: Calibri, sans-serif;

$theme-colors: (
  "primary": $kleur-bruin,
  "danger": #ff4136,
  "white": white,
);

$font-family-sans-serif: $font-text;
$headings-font-family: $font-header;
$body-color: $kleur-bruin;
$body-bg: $achtergrond;

$h2-font-size: 2.25rem;
$h3-font-size: 1rem;
$h4-font-size: 1.2rem;
$line-height-base: 1.8;